@model Persona;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Mi nombre es </h1>
    <h2>Programador de @Model.Nombre. (@Model.Edad)</h2>
    <h3>Ya somos @Model.Suscriptores</h3>
    <img src="@Model.Avatar" id="foto"/>
  <!--  <h1 class="display-4">Bienvenido a CocoBongo Sr. Okinawa.</h1>
    <p>No, no, no  usted esta <a href="https://www.cocobongo.com/?gclid=CjwKCAjwwb6lBhBJEiwAbuVUSq6YnZGPugemIF85vf89n8ddBuLGB21QERpbqrzjF2Ggbb13SUCh6xoCGVIQAvD_BwE">aquí</a>.</p> -->

</div>

